.advantages {
    min-height: 475px;
    background: #f6f6f6;
    padding: 75px 0 65px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__header {
        margin-top: 38px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        color: #0d0d0d;
    }
    &__subheader {
        margin-top: 26px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}
